<h2 class="page-header"><%= series.title %></h2>

<div class="book-details">
    <div class="book-details-grid">
        <div class="book-details-label">Author:</div>
        <div><%= series.author.firstName %> <%= series.author.lastName %></div>
    </div>
</div>