<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Books</a>           
        <ul>     
            <li><a href="/books">Books</a></li>    
            <li><a href="/authors">Authors</a></li>    
            <li><a href="/series">Series</a></li>       
        </ul>      
    </nav>
</header>