:root {
    --book-cover-width: 200px;
    --book-cover-width-large: 325px;
    --book-cover-aspect-ratio: 0.75;
    --color-book-grid-link: var(--color-grid-link);
     /* --book-cover-width: 1rem;
    --book-cover-width-large: 10rem; */
}

/* .book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
} */

.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), /* Subtle shadow below */
                0 1px 6cm rgba(0, 0, 0, 0.06); /* Lighter shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.book-cover:hover {
    transform: translateY(-5px); /* Slightly lift the book cover on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), /* Stronger shadow on hover */
                0 4px 12px rgba(0, 0, 0, 0.1); /* Additional depth */
}

/* .book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
} */

.book-grid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 1rem; 
}

.book-grid-large {
    grid-template-columns: repeat(autofill, var(--book-cover-width-large));

    .book-grid-item {
        flex: 1 1 calc(var(--grid-item-7)); 
        max-width: calc(var(--grid-item-7)); 

        @media (max-width: 768px) {
            flex: 1 1 calc(var(--grid-item-2));
            max-width: calc(var(--grid-item-2));
        }
    
        @media (max-width: 480px) {
            flex: 1 1 100%; 
            max-width: 100%;
        }
    }
}

.book-grid-item {
    box-sizing: border-box; 
    text-align: center;
    margin-bottom: 1rem;

    /* Responsive adjustments */
    @media (max-width: 768px) {
        flex: 1 1 calc(var(--grid-item-2)); 
        max-width: calc(var(--grid-item-2));
    }

    @media (max-width: 480px) {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}

.book-details {
    display: flex; 
}

.book-details-title {
    color: var(--color-text-dark);
    text-decoration: none;
    margin-top: 0.5rem; 
    font-size: .75rem; 
    align-self: center;
}

.book-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 1rem;

    a:visited {
        color: var(--color-book-grid-link);
    }
}

.book-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "edit delete"
    "author author";
    gap: .5rem;
    margin-top: .5rem;
}

.book-details-author-button {
    grid-area: author;
    justify-self: stretch;
}

