:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;

     /* Sidebar variables */
     --color-sidebar-background: #333;
     --color-sidebar-title: #f8f9fa;
     --color-sidebar-link: #f8f9fa;
     --color-sidebar-link-hover: #e5e2e249;   
}

/* Sidebar styling */
.sidebar {
    width: 15%; 
    background-color: var(--color-sidebar-background);
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    box-sizing: border-box; 
}

.sidebar-header {
    margin-bottom: 2rem;
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-sidebar-title);
}

.sidebar-nav {
    ul {
        list-style: none; 
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 1rem; 

            a {
                text-decoration: none; 
                color: var(--color-sidebar-link); 
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--color-sidebar-link-hover); 
                }
            }
        }
    }
}