<div class="form-row">
    <div class="form-item">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= author.firstName %>">
    </div>
    <div class="form-item">
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= author.lastName %>">
    </div>
</div>


